


div{
  /*border: 1px solid;*/
}

.row{
  padding-left: 10px;
}

.nav{
  background-color: 8e8e8e;
}

.navbar-default{
  background-color: #E6E2EB !important;
}

.nav-pills li a{
    border-right: 2px #a3a3a3 solid;
    background-color: #E6E2EB !important;
}

form{
  height: 100%;
  padding: 10px;
  float: right;
  border-left: 1px solid white;
  border-radius: 10px 0px 0px 0px;
}

h3{
  margin-top: 10px !important;
  text-align: center;
  background-color: #E6E2EB;
  /*background-color: #E4C06A;*/
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
}

/*.col-sm-12{
  padding: 15px;
}*/

.col-sm-6 img{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-sm-3 img{
  width: 100%;
}

.Button{
  padding: 6px;
  background-color: #E6E2EB;
  border-radius: 5px 5px 5px 5px;
  color: black;
}

.col-sm-12 img{
  width: 100%;
}

.col-sm-3{
  padding: 0px;
}

.panel-heading{
  background-color: #black !important;
  text-align: center;
  margin-top: 10px;
  /*border: solid;*/
}

.panel-default{
  background-color: #f5f5f5;
}

.col-sm-6 ul{
  background-color: #f5f5f5;
  margin-left: -30px !important; 
}

/*.col-sm-6 {
  background-color: #f5f5f5;
  margin-left: -30px !important;
}*/
